body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 660px;
  height: 50px;
  margin: 0 auto;
}

.header input {
  width: 100%;
  margin: 10px 0;
}

.main {
  display: grid;
  width: 660px;
  height: auto;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px;
  grid-template-columns: 160px 160px 160px 160px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 160px;
  border: 1px solid green;
  border-radius: 30px;
}

.item__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: darkgoldenrod;
  border-radius: 30px 30px 0 0;
  flex-grow: 1;
  color: white;
  font-size: 50px;
}

.item__bottom {
  font-size: 15px;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  background-color: salmon;
  border-radius: 0 0 30px 30px;
}

.item:nth-child(4n + 3),
.item:nth-child(4n + 4) {
  transform: translate(20px);
}

.item:nth-child(8n + 1),
.item:nth-child(8n + 2),
.item:nth-child(8n + 3),
.item:nth-child(8n + 4) {
  margin-top: 20px;
}
